<div class="page-wrapper">
  <div class="page-content">
    <div class="container mt-5 mb-5 error-container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <div class="error-image--block">
            <img src="//hstatic.net/0/0/global/design/omni/image_error.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="error-text--block">
            <p class="error-text--title-404">{{ statusError }}</p>
            <p class="error-text-sub">
              <span>{{ errorMessage }}</span>
            </p>
            <a class="btn btn-primary" href="admin">
              <div>Trở về trang chủ</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


