<div class="breadcrumb_nobackground margin-bottom-0">
  <section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 a-left">
          <ul class="breadcrumb">
            <li class="home">
              <a routerLink="/home">
                <span>Trang chủ</span>
              </a>
              <span class="mr_lr">
                <i class="fas fa-circle"></i>
              </span>
            </li>
            <li>
              <strong>
                <span>Đăng nhập tài khoản</span>
              </strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>



<div class="container margin-bottom-20">
  <!-- <div class="alert alert-warning" *ngIf="!success">
    <span>Enter the email address you used to register</span>
  </div> -->

  <div class="alert alert-success" *ngIf="success">
    <span>Check your emails for details on how to reset your password.</span>
  </div>

  <div class="row">
    <div class="col-md-4  col-md-offset-4 col-sm-6  col-sm-offset-3">
      <div id="recover-password" class="form-signup" style="display: block;">

        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <p>Vui lòng nhập email của bạn:</p>
          <div class="form-signup clearfix">
            <fieldset class="form-group">
              <input
              type="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
              class="form-control form-control-lg"
              name="email"
              id="email"
              placeholder="Email*"
              data-cy="emailResetPassword"
              formControlName="email"
              required>

              <div *ngIf="
                  resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
                ">
                <small
                  class="form-text text-danger"
                  *ngIf="resetRequestForm.get('email')?.errors?.['required']">
                  Your email is required.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="resetRequestForm.get('email')?.errors?.['email']">
                  Your email is invalid.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="resetRequestForm.get('email')?.errors?.['minlength']">
                  Your email is required to be at least 5 characters.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="resetRequestForm.get('email')?.errors?.['maxlength']">
                  Your email cannot be longer than 50 characters.
                </small>
              </div>

            </fieldset>

          </div>
          <div class="action_bottom">
            <input
            class="btn btn-full btn-style btn-primary"
            style="margin-top: 5px;"
            type="submit"
            data-cy="submit"
            [disabled]="resetRequestForm.invalid"
            value="Gửi email">
          </div>
          <div class="col-xs-12 a-center" style="margin-top:15px; padding: 0; ">
            <p>
              Quay lại
              <a [routerLink]="['/account/login']">Tại đây</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
