<div class="container margin-bottom-20">
  <h1 data-cy="loginTitle">Bạn quên mật khẩu ?</h1>
  <div class="alert alert-warning" *ngIf="!success">
    <span>Nhập email của bạn để đặt lại mật khẩu</span>
  </div>

  <div class="alert alert-success" *ngIf="success">
    <span>Vui lòng kiểm tra email để xem hướng dẫn thay đổi mật khẩu.</span>
  </div>

  <div class="row">
    <div class="col-md-4  col-md-offset-4 col-sm-6  col-sm-offset-3">
      <div id="recover-password" class="form-signup" style="display: block;">

        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="form-signup clearfix">
            <fieldset class="form-group">
              <input
              type="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
              class="form-control form-control-lg"
              name="email"
              id="email"
              placeholder="Email"
              data-cy="emailResetPassword"
              formControlName="email"
              required>

            </fieldset>

          </div>
          <div class="action_bottom">
            <input
            class="btn btn-full btn-style btn-primary"
            style="margin-top: 5px;"
            type="submit"
            data-cy="submit"
            [disabled]="resetRequestForm.invalid">
          </div>
          <div class="col-xs-12 a-center" style="margin-top:15px; padding: 0; ">
            <p>

              <a [routerLink]="['/login']">Quay lại</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
