<section class="bread-crumb">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <li class="home">
            <a itemprop="url" href="/">
              <span itemprop="title">Trang chủ</span>
            </a>
            <span>
              <i class="fa fa-angle-right"></i>
            </span>
          </li>
          <li>
            <a itemprop="url" href="/account">
              <span itemprop="title">Tài khoản</span>
            </a>
            <span>
              <i class="fa fa-angle-right"></i>
            </span>
          </li>
          <li>
            <strong itemprop="title">Đơn hàng #2618 </strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="login page_order_account">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 top_order_title">
        <h1 class="title-headding order-headding">Đơn hàng #2618</h1>
        <span class="note order_date">
          <i>Ngày tạo — 14/ 08/ 2020</i>
          <a href="/account">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Quay lại trang tài khoản </a>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 body_order">
        <div id="order_payment" class="span6 box-address margin-top-20">
          <div class="box-header">
            <h2 class="title-head">Địa chỉ thanh toán</h2>
            <p>
              <span class="note">Trạng thái thanh toán:</span>
              <i class="status_pending"> Thanh toán một phần </i>
            </p>
          </div>
          <div class="address note">
            <p>
              <i class="fa fa-user"></i> Lê quang
            </p>
            <p>
              <i class="fa fa-map-marker"></i> Hà Nội, Hà Nội, Vietnam
            </p>
            <p>
              <i class="fa fa-phone"></i>0364504982
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 body_order">
        <div id="order_shipping" class="span6 box-address margin-top-20">
          <div class="box-header">
            <h2 class="title-head">Địa chỉ giao hàng</h2>
            <p>
              <span class="note">Trạng thái hoàn thành:</span>
              <i class="status_">
                <!-- order.fulfillment_status --> Chưa giao hàng
              </i>
            </p>
          </div>
          <div class="address note">
            <p>
              <i class="fa fa-user"></i> Lê quang
            </p>
            <p>
              <i class="fa fa-map-marker"></i> Hà Nội, Hà Nội Vietnam
            </p>
            <p>
              <i class="fa fa-phone"></i>0364504982
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="table-responsive-block margin-top-20 table-responsive">
          <table id="order_details" class="table table-cart">
            <thead class="thead-default">
              <tr>
                <th style="border-bottom: none;">Sản phẩm</th>
                <th style="border-bottom: none;">Mã sản phẩm</th>
                <th style="border-bottom: none;">Giá</th>
                <th style="border-bottom: none;">Số lượng</th>
                <th style="border-bottom: none;">Tổng</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Tên">
                  <a href="/bdskateco-hollow-kingpin-polished-trucks-5-25">BDSKATECO HOLLOW POLISHED TRUCKS 5.25</a>
                </td>
                <td data-title="Mã SKU">TRKBDHLLWPOLISH&nbsp;</td>
                <td data-title="Giá" class="numeric">700.000₫</td>
                <td data-title="Số lượng" class="numeric">1</td>
                <td data-title="Tổng" class="numeric">700.000₫</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 oder_total_monney">
        <table class="table  totalorders">
          <tfoot>
            <tr class="order_summary note" style="color:red;">
              <td class="fix-width-200" colspan="">Phí vận chuyển:</td>
              <td class="total money right">Giao hàng tận nơi - <strong style="color:#000000">55.000₫</strong>
              </td>
            </tr>
            <tr class="order_summary order_total">
              <td class="fix-width-200">Tổng tiền:</td>
              <td class="right">
                <strong>755.000₫ </strong>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>
