<div class="page-wrapper">
  <div class="page-content">
    <div class="container mt-5 mb-5 error-container">
      <div class="row align-items-center height-container">
        <div class="col-5">
          <div class="error-text--block">
            <p class="error-text--title">Bạn không được phân quyền để truy cập trang này.</p>
          </div>
        </div>
        <div class="col-7">
          <div class="error-image--block">
            <img src="//hstatic.net/0/0/global/design/omni/permission.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


