<div class="opacity_menu"></div>
<!-- Main content -->
<!-- Menu mobile -->
<div id="mySidenav" class="sidenav menu_mobile">
  <div class="top_menu_mobile">
    <span class="close_menu"></span>
  </div>
  <div class="content_memu_mb hidden-lg hidden-md">
    <div class="link_list_mobile">
      <ul class="ct-mobile">
        <li class="level0 level-top parent level_ico">
          <a class="a_level0" href="">Trang chủ</a>
        </li>
        <li class="level0 level-top parent level_ico">
          <a class="a_level0" href="gioi-thieu">Giới thiệu</a>
        </li>
        <li class="level0 level-top parent level_ico">
          <a class="a_level0" href="collections/all">Sản phẩm</a>
          <i class="ti-plus hide_close i_level0"></i>
          <ul class="sub-menu" style="display:none;">
            <li class="level1">
              <a href="ca-phe-the-gioi">
                <span>Cà phê thế giới</span>
              </a>
            </li>
            <li class="level1">
              <a href="ca-phe-pha-viet">
                <span>Cà phê pha Việt</span>
              </a>
            </li>
            <li class="level1">
              <a href="ca-phe-cam-hung">
                <span>Cà phê cảm hứng</span>
              </a>
            </li>
            <li class="level1">
              <a href="do-uong">
                <span>Đồ uống</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="level0 level-top parent level_ico">
          <a class="a_level0" href="tin-tuc">Dịch vụ</a>
        </li>
        <li class="level0 level-top parent level_ico">
          <a class="a_level0" href="tin-tuc">Tin tức</a>
        </li>
        <li class="level0 level-top parent level_ico">
          <a class="a_level0" href="lien-he">Liên hệ</a>
        </li>
      </ul>
      <!-- <ul class="ct-mobile login_mobile hidden-sm hidden-md hidden-lg"><li class="level0 level-top parent level_ico"><a href="./login.html" title="Đăng nhập"><i class="fas fa-user"></i>Đăng nhập </a></li><li class="level0 level-top parent level_ico"><a href="./register.html" title="Đăng ký"><i class="fas fa-user-plus"></i>Đăng ký </a></li></ul> -->
      <ul class="ct-mobile login_mobile hidden-sm hidden-md hidden-lg">
        <li class="level0 level-top parent level_ico">
          <a href="/account" title="Tài khoản">
            <i class="fas fa-user"></i>Tài khoản </a>
        </li>
        <li class="level0 level-top parent level_ico">
          <a href="/account/logout" title="Đăng xuất">
            <i class="fas fa-user-times"></i>Đăng xuất </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End -->
