<div class="breadcrumb_nobackground margin-bottom-40">
  <section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 a-left">
          <ul class="breadcrumb">
            <li class="home">
              <a href="/">
                <span>Trang chủ</span>
              </a>
              <span class="mr_lr">
                <i class="fas fa-circle"></i>
              </span>
            </li>
            <li>
              <strong>
                <span> Tất cả sản phẩm</span>
              </strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="row">
    <div class="bg_collection collection_2">
      <div class="main_container col-lg-12 padding-col-left-0">
        <div class="box-heading relative heading">
          <h1 class="title-head margin-top-0">Tất cả sản phẩm</h1>
        </div>
        <div class="category-products products f-left w_100 margin-top-70">
          <section class="products-view products-view-grid">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-trung" title="Cà phê Trứng">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/23.jpg?v=1553096884810" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/23.jpg?v=1553096884810" alt="Cà phê Trứng" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-trung" title="Cà phê Trứng" class="product-name">
                            <span class="name_product_other">Cà phê Trứng</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">50.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê Trứng được chọn lọc kỹ lưỡng từ vùn... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-cococcino-latte" title="Cà phê Cococcino Latte">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/22.jpg?v=1553096660357" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/22.jpg?v=1553096660357" alt="Cà phê Cococcino Latte" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-cococcino-latte" title="Cà phê Cococcino Latte" class="product-name">
                            <span class="name_product_other">Cà phê Cococcino Latte</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">86.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê Cococcino Latte được chọn lọc kỹ lư... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-cocoapresso" title="Cà phê Cocoapresso">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/20.jpg?v=1553096531630" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/20.jpg?v=1553096531630" alt="Cà phê Cocoapresso" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-cocoapresso" title="Cà phê Cocoapresso" class="product-name">
                            <span class="name_product_other">Cà phê Cocoapresso</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">79.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê Cocoapresso được chọn lọc kỹ lưỡng ... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-matchapresso" title="Cà phê Matchapresso">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/19.jpg?v=1553096000350" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/19.jpg?v=1553096000350" alt="Cà phê Matchapresso" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-matchapresso" title="Cà phê Matchapresso" class="product-name">
                            <span class="name_product_other">Cà phê Matchapresso</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">100.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê Matchapresso&nbsp;được chọn lọc kỹ ... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-the-metro" title="Cà phê The Metro">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/16.jpg?v=1553090288477" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/16.jpg?v=1553090288477" alt="Cà phê The Metro" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-the-metro" title="Cà phê The Metro" class="product-name">
                            <span class="name_product_other">Cà phê The Metro</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">69.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê The Metro được chọn lọc kỹ lưỡng từ... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-the-rainbow" title="Cà phê The Rainbow">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/15.jpg?v=1553089161437" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/15.jpg?v=1553089161437" alt="Cà phê The Rainbow" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-the-rainbow" title="Cà phê The Rainbow" class="product-name">
                            <span class="name_product_other">Cà phê The Rainbow</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">90.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê The Rainbow được chọn lọc kỹ lưỡng ... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-mojto-presso" title="Cà phê Mojto Presso">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/14.jpg?v=1553088404117" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/14.jpg?v=1553088404117" alt="Cà phê Mojto Presso" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-mojto-presso" title="Cà phê Mojto Presso" class="product-name">
                            <span class="name_product_other">Cà phê Mojto Presso</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">110.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê Mojto Presso được chọn lọc kỹ lưỡng... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-the-caipirinha" title="Cà phê The Caipirinha">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/13.jpg?v=1553087096937" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/13.jpg?v=1553087096937" alt="Cà phê The Caipirinha" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-the-caipirinha" title="Cà phê The Caipirinha" class="product-name">
                            <span class="name_product_other">Cà phê The Caipirinha</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">50.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê The Caipirinha được chọn lọc kỹ lưỡ... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-caramel-macchiato" title="Cà phê Caramel Macchiato">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/12.jpg?v=1553086846943" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/12.jpg?v=1553086846943" alt="Cà phê Caramel Macchiato" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-caramel-macchiato" title="Cà phê Caramel Macchiato" class="product-name">
                            <span class="name_product_other">Cà phê Caramel Macchiato</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">180.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê Caramel Macchiato được chọn lọc kỹ ... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-mocha" title="Cà phê mocha">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/11.jpg?v=1553086546333" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/11.jpg?v=1553086546333" alt="Cà phê mocha" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-mocha" title="Cà phê mocha" class="product-name">
                            <span class="name_product_other">Cà phê mocha</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">66.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê mocha được chọn lọc kỹ lưỡng từ vùn... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-latte" title="Cà phê Latte">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/10.jpg?v=1553077741347" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/10.jpg?v=1553077741347" alt="Cà phê Latte" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-latte" title="Cà phê Latte" class="product-name">
                            <span class="name_product_other">Cà phê Latte</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">130.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê Latte được chọn lọc kỹ lưỡng từ vùn... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="product-box product_grid_2">
                  <div class="product_mini_2 clearfix  ">
                    <div class="img_product">
                      <a class="product-img" href="/collections/all/products/ca-phe-cappuccino" title="Cà phê Cappuccino">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/7.jpg?v=1553077381740" data-src="//bizweb.dktcdn.net/thumb/small/100/346/521/products/7.jpg?v=1553077381740" alt="Cà phê Cappuccino" data-was-processed="true">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="infor_prd">
                        <h3 class="name_product">
                          <a href="/ca-phe-cappuccino" title="Cà phê Cappuccino" class="product-name">
                            <span class="name_product_other">Cà phê Cappuccino</span>
                          </a>
                        </h3>
                      </div>
                      <div class="price_base price_base_other">
                        <div class="price-box clearfix">
                          <div class="special-price">
                            <span class="price product-price">300.000₫</span>
                          </div>
                        </div>
                      </div>
                      <div class="summary_grid">
                        <div class="rte description text2line"> Cà phê Cappuccino được chọn lọc kỹ lưỡng t... </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-left">
              <nav class="clearfix nav_pagi f-left w_100">
                <ul class="pagination clearfix">
                  <li class="page-item disabled">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-left"></i>
                    </a>
                  </li>
                  <li class="active page-item disabled">
                    <a class="page-link" href="javascript:;">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" onclick="doSearch(2)" href="javascript:;">2</a>
                  </li>
                  <li class="page-item hidden-xs">
                    <a class="page-link" onclick="doSearch(2)" href="javascript:;">
                      <i class="fas fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
              <script>
                var cuPage = 1
              </script>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
