  <div class="d-flex justify-content-center">
    <div class="col-md-4 justify-content-center">
      <h1>Thiết lập mật khẩu</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">
        Không tìm thấy thông tin key, vui lòng liên hệ Quản lý tài khoản để nhận được thông tin chính xác nhất
      </div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Chọn một mật khẩu mới</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span
          >Không thể đặt lại mật khẩu của bạn. Hãy nhớ rằng yêu cầu mật khẩu chỉ có hiệu lực trong 24 giờ.</span
        >
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Mật khẩu của bạn đã được thiết lập lại.</strong> Làm ơn  </span>
        <a class="alert-link" routerLink="/login"> đăng nhập</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">
        Mật khẩu và xác nhận của nó không khớp!
      </div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <!-- <label class="form-label" for="newPassword">New password</label> -->
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nhập mật khẩu"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />
          </div>

          <div class="mb-3">
            <!-- <label class="form-label" for="confirmPassword"
              >New password confirmation</label
            > -->
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Xác nhận lại mật khẩu"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <!-- <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']"

              >
                Your confirmation password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.['minlength']"

              >
                Your confirmation password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.['maxlength']"

              >
                Your confirmation password cannot be longer than 50 characters.
              </small>
            </div> -->
          </div>

          <button
            type="submit"
            [disabled]="passwordForm.invalid"
            class="btn btn-primary"

            data-cy="submit"
          >
            Xác nhận
          </button>
        </form>
      </div>

    </div>
  </div>
