<div class="modal-header">
  <h5 class="modal-title" data-gtm-vis-recent-on-screen12958095_1557="617772" data-gtm-vis-first-on-screen12958095_1557="617772" data-gtm-vis-total-visible-time12958095_1557="100" data-gtm-vis-has-fired12958095_1557="1">Thêm người dùng mới</h5>
  <div class="d-flex">
    <button class="btn btn-link close">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="#A6A6A6"></path>
      </svg>
    </button>
  </div>
</div>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="modal-body">
    <div class="pd-all-20">

        <app-alert-error></app-alert-error>
        <div class="form-group mb-0">
          <div class="row">
            <div class="col-sm-6 col-12">
              <label class="label-input-group">Họ tên</label>
              <div class="">
                <input name="fullname" formControlName="fullname" type="text" class="next-input" placeholder="Họ tên" step="1" >
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <label class="label-input-group">Email</label>
              <div class="">
                <input name="email" formControlName="email" type="text" class="next-input" placeholder="Nhập địa chỉ email" step="1">
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <span>Hủy</span>
    </button>
    <div class="col-auto 1 false">
      <div class="row">
        <div class="col text-right">
          <button class="btn btn-primary" type="submit" >Lưu</button>
        </div>
      </div>
    </div>
  </div>
</form>
