<div class="breadcrumb_nobackground margin-bottom-0">
  <section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 a-left">
          <ul class="breadcrumb">
            <li class="home">
              <a href="/">
                <span>Trang chủ</span>
              </a>
              <span class="mr_lr">
                <i class="fas fa-circle"></i>
              </span>
            </li>
            <li>
              <strong>
                <span>Tin tức</span>
              </strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="blog_page_section" itemscope="" itemtype="https://schema.org/Blog">
  <meta itemprop="name" content="Tin tức">
  <meta itemprop="description" content="Theme Coffee House được thiết kế hiện đại, đẹp mắt sẽ là sự lựa chọn hoàn hảo giúp website kinh doanh cafe, nhà hàng của bạn tạo được ngay ấn tượng đầu tiên">
  <div class="list-blogs blog-main">
    <div class="rows">
      <div class="bg_2blog">
        <div class="container margin-bottom-50 class_db">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading margin-top-30 margin-bottom-40 f-left w_100">
                <h1 class="a-center">Tin tức</h1>
              </div>
              <div class="blog_width_wrap blogmain f-left w_100">
                <div class="wrap_owl_blog owl-carousel" data-play="false" data-loop="false" data-lg-items="2" data-xlg-items="2" data-md-items="2" data-sm-items="2" data-xs-items="1" data-margin="30" data-dot="false" data-nav="false">
                  <div class="blog_item">
                    <div class="blog-inner">
                      <div class="blog-img thumb_horizontal a-center">
                        <a class="img_item_blog" href="/bloomberg-nha-xuat-khau-ca-phe-lon-thu-hai-viet-nam-len-ke-hoach-ban-von-cho-nuoc-ngoai">
                          <picture>
                            <source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/pexels-photo-374885.jpeg?v=1552981333707">
                            <source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/pexels-photo-374885.jpeg?v=1552981333707">
                            <source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.dktcdn.net/thumb/grande/100/346/521/articles/pexels-photo-374885.jpeg?v=1552981333707">
                            <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.dktcdn.net/thumb/grande/100/346/521/articles/pexels-photo-374885.jpeg?v=1552981333707">
                            <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/grande/100/346/521/articles/pexels-photo-374885.jpeg?v=1552981333707">
                            <img src="https://bizweb.dktcdn.net/100/346/521/articles/pexels-photo-374885.jpeg?v=1552981333707" style="max-width:100%;" class="img-responsive" alt="Bloomberg: Xuất khẩu cà phê lớn thứ hai Việt Nam">
                          </picture>
                        </a>
                        <div class="content_blog_full content_horizontal">
                          <span class="short_time">
                            <i class="fas fa-calendar-alt"></i> 19/03/2019 </span>
                          <h3>
                            <a title="Bloomberg: Xuất khẩu cà phê lớn thứ hai Việt Nam" href="/bloomberg-nha-xuat-khau-ca-phe-lon-thu-hai-viet-nam-len-ke-hoach-ban-von-cho-nuoc-ngoai">Bloomberg: Xuất khẩu cà phê lớn thứ hai Việt Nam</a>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="blog_item">
                    <div class="blog-inner">
                      <div class="blog-img thumb_horizontal a-center">
                        <a class="img_item_blog" href="/gia-ca-phe-arabica-nam-2019-du-kien-tang-khi-san-luong-tai-brazil-thap">
                          <picture>
                            <source media="(max-width: 480px)" srcset="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/sweat-shop-coffee-shops-in-nyc.jpg?v=1552981539190">
                            <source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/sweat-shop-coffee-shops-in-nyc.jpg?v=1552981539190">
                            <source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.dktcdn.net/thumb/grande/100/346/521/articles/sweat-shop-coffee-shops-in-nyc.jpg?v=1552981539190">
                            <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.dktcdn.net/thumb/grande/100/346/521/articles/sweat-shop-coffee-shops-in-nyc.jpg?v=1552981539190">
                            <source media="(min-width: 1200px)" srcset="//bizweb.dktcdn.net/thumb/grande/100/346/521/articles/sweat-shop-coffee-shops-in-nyc.jpg?v=1552981539190">
                            <img src="https://bizweb.dktcdn.net/100/346/521/articles/sweat-shop-coffee-shops-in-nyc.jpg?v=1552981539190" style="max-width:100%;" class="img-responsive" alt="Giá cà phê arabica năm 2019 dự kiến tăng tại Brazil thấp">
                          </picture>
                        </a>
                        <div class="content_blog_full content_horizontal">
                          <span class="short_time">
                            <i class="fas fa-calendar-alt"></i> 19/03/2019 </span>
                          <h3>
                            <a title="Giá cà phê arabica năm 2019 dự kiến tăng tại Brazil thấp" href="/gia-ca-phe-arabica-nam-2019-du-kien-tang-khi-san-luong-tai-brazil-thap">Giá cà phê arabica năm 2019 dự kiến tăng tại Brazil thấp</a>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="wrap_list_vertical margin-top-50 margin-bottom-50">
          <div class="row">
            <div class="content-blog-index blog_left col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="blog_index">
                <div class="myblog">
                  <div class="image-blog-left a-center">
                    <a class="img_bot" href="/dak-nong-trong-xen-canh-cuu-ca-phe-trong-bien-doi-khi-hau">
                      <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/birch-coffee-shops-in-nyc.jpg?v=1552981019243" data-src="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/birch-coffee-shops-in-nyc.jpg?v=1552981019243" title="Đắk Nông: Trồng xen canh 'cứu' cà phê trong biến đổi khí hậu" alt="Đắk Nông: Trồng xen canh 'cứu' cà phê trong biến đổi khí hậu" data-was-processed="true">
                    </a>
                  </div>
                  <div class="content_blog">
                    <div class="content_right">
                      <span class="short_time">
                        <i class="fas fa-calendar-alt"></i> 19/03/2019 </span>
                      <h3>
                        <a href="/dak-nong-trong-xen-canh-cuu-ca-phe-trong-bien-doi-khi-hau" title="Đắk Nông: Trồng xen canh 'cứu' cà phê trong biến đổi khí hậu">Đắk Nông: Trồng xen canh 'cứu' cà phê trong biến đổi khí hậu</a>
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>Tình trạng biến đổi khí hậu đang trở thành vấn đề nan giải, ngày càng ảnh hưởng rõ nét và sâu sắc...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-blog-index blog_left col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="blog_index">
                <div class="myblog">
                  <div class="image-blog-left a-center">
                    <a class="img_bot" href="/59-nguoi-truong-thanh-o-my-tieu-thu-ca-phe-dac-san">
                      <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/skw6442-skw6447.jpg?v=1552980850623" data-src="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/skw6442-skw6447.jpg?v=1552980850623" title="59% người trưởng thành ở Mỹ tiêu thụ cà phê đặc sản" alt="59% người trưởng thành ở Mỹ tiêu thụ cà phê đặc sản" data-was-processed="true">
                    </a>
                  </div>
                  <div class="content_blog">
                    <div class="content_right">
                      <span class="short_time">
                        <i class="fas fa-calendar-alt"></i> 19/03/2019 </span>
                      <h3>
                        <a href="/59-nguoi-truong-thanh-o-my-tieu-thu-ca-phe-dac-san" title="59% người trưởng thành ở Mỹ tiêu thụ cà phê đặc sản">59% người trưởng thành ở Mỹ tiêu thụ cà phê đặc sản</a>
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>59% người trưởng thành ở Mỹ tiêu thụ cà phê đặc sản Theo Hiệp hội Cà phê quốc gia Mỹ (NCA), có tớ...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-blog-index blog_left col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="blog_index">
                <div class="myblog">
                  <div class="image-blog-left a-center">
                    <a class="img_bot" href="/ca-phe-dang-dung-truoc-nguy-co-tuyet-chung">
                      <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/peruvian-coffee-3.jpg?v=1552981562737" data-src="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/peruvian-coffee-3.jpg?v=1552981562737" title="Cà phê đang đứng trước nguy cơ...tuyệt chủng?" alt="Cà phê đang đứng trước nguy cơ...tuyệt chủng?" data-was-processed="true">
                    </a>
                  </div>
                  <div class="content_blog">
                    <div class="content_right">
                      <span class="short_time">
                        <i class="fas fa-calendar-alt"></i> 19/03/2019 </span>
                      <h3>
                        <a href="/ca-phe-dang-dung-truoc-nguy-co-tuyet-chung" title="Cà phê đang đứng trước nguy cơ...tuyệt chủng?">Cà phê đang đứng trước nguy cơ...tuyệt chủng?</a>
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>Người tiêu dùng sẽ phải đối mặt với tình trạng thiếu cà phê, còn những người nông dân trồng cà ph...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-blog-index blog_left col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="blog_index">
                <div class="myblog">
                  <div class="image-blog-left a-center">
                    <a class="img_bot" href="/gia-ca-phe-the-gioi-dao-chieu-trong-thang-2">
                      <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/coffeecolectiveespresso.jpg?v=1552979566427" data-src="//bizweb.dktcdn.net/thumb/large/100/346/521/articles/coffeecolectiveespresso.jpg?v=1552979566427" title="Giá cà phê thế giới đảo chiều trong tháng 2" alt="Giá cà phê thế giới đảo chiều trong tháng 2" data-was-processed="true">
                    </a>
                  </div>
                  <div class="content_blog">
                    <div class="content_right">
                      <span class="short_time">
                        <i class="fas fa-calendar-alt"></i> 19/03/2019 </span>
                      <h3>
                        <a href="/gia-ca-phe-the-gioi-dao-chieu-trong-thang-2" title="Giá cà phê thế giới đảo chiều trong tháng 2">Giá cà phê thế giới đảo chiều trong tháng 2</a>
                      </h3>
                    </div>
                    <div class="summary_item_blog">
                      <p>Theo Tổ chức Cà phê Thế giới (ICO), giá cà phê thế giới giảm 0,95 trong tháng 2 xuống 100,67 US c...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-left paginate_center col-lg-12 col-sm-12 col-xs-12 col-md-12"></div>
      </div>
    </div>
  </div>
</div>
