<div class="page-wrapper" >
  <div class="content" *ngIf="draftOrders">
      <div class="page-header">
        <div class="page-title">
          <h4>Đơn hàng nháp</h4>
          <h6>Tất cả đơn hàng nháp</h6>
        </div>
        <div class="page-btn">
          <a routerLink="../orders/new" class="btn btn-added">
            <img src="content/admin/image/icons/plus.svg" alt="img" class="me-1">
            Tạo đơn hàng
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="table-top">
            <div class="search-set">
              <div class="search-path">
                <a class="btn btn-filter" id="filter_search">
                  <img src="content/admin/image/icons/filter.svg" alt="img">
                  <span>
                    <img src="content/admin/image/icons/closes.svg" alt="img">
                  </span>
                </a>
              </div>
              <div class="search-input">
                <a class="btn btn-searchset">
                  <img src="content/admin/image/icons/search-white.svg" alt="img">
                </a>
                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                  <label>
                    <input
                    [(ngModel)]="filter" (ngModelChange)="transition()"
                    placeholder="Tìm kiếm"
                    type="search"
                    class="form-control form-control-sm"
                    aria-controls="DataTables_Table_0">
                  </label>
                </div>
              </div>
            </div>
            <!-- <div class="wordset">
              <ul>
                <li>
                  <a type="button" class="me-3 confirm-text" (click)="deleteDraftOrders()" *ngIf="checkboxes.length > 0" >
                    <img src="/content/admin/image/icons/delete.svg" alt="img">
                  </a>
                </li>
                <li>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                    <img src="content/admin/image/icons/pdf.svg" alt="img">
                  </a>
                </li>
                <li>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                    <img src="content/admin/image/icons/excel.svg" alt="img">
                  </a>
                </li>
                <li>
                  <a data-bs-toggle="tooltip" data-bs-placement="top" title="print">
                    <img src="content/admin/image/icons/printer.svg" alt="img">
                  </a>
                </li>
              </ul>
            </div> -->
          </div>

          <div class="card mb-0" id="filter_inputs">
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="row">
                    <div class="col-lg col-sm-6 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>Loại</option>
                          <option>Computers</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg col-sm-6 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>Nhà cung cấp</option>
                          <option>N/D</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-1 col-sm-6 col-12">
                      <div class="form-group">
                        <a class="btn btn-filters ms-auto">
                          <img src="content/admin/image/icons/search-whites.svg" alt="img">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table  datanew">
              <thead>
                <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
                  <th class="sorting_asc" tabindex="0"  rowspan="1" colspan="1" aria-sort="ascending" style="width: 54.7917px;">
                    <label class="checkboxs">
                      <input type="checkbox" id="select-all" [(ngModel)]="selectAll" (change)="toggleSelectAll($event)">
                      <span class="checkmarks"></span>
                    </label>
                  </th>
                    <th [hidden]="checkboxes.length <= 0">
                      <div class="table-bulk-actions">
                        Chọn thao tác
                        <a type="button" class="me-3 confirm-text" (click)="deleteDraftOrders()" >
                          <img src="/content/admin/image/icons/delete.svg" alt="img">
                        </a>
                        <span>{{ checkboxes.length }} sản phẩm đang chọn </span>
                      </div>
                    </th>

                    <th [hidden]="checkboxes.length > 0">
                      <span>Mã</span>
                    </th>
                    <th [hidden]="checkboxes.length > 0">
                      <span>Ngày cập nhật</span>
                    </th>
                    <th [hidden]="checkboxes.length > 0">
                      <span>Khách hàng</span>
                    </th>
                    <th [hidden]="checkboxes.length > 0">
                      <span>Tổng tiền</span>
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let draftOrder of draftOrders; trackBy:trackIdentity">
                  <td>
                    <label class="checkboxs">
                      <input type="checkbox"  (change)="checkboxChanged(draftOrder)" [checked]="isCheckboxSelected(draftOrder)">
                      <span class="checkmarks"></span>
                    </label>
                  </td>
                  <td class="text-primary">
                    <a [routerLink]="['./', draftOrder.id]">
                    {{ draftOrder.code }}
                    </a>
                  <td>{{ draftOrder.lastModifiedDate | amLocale: 'vi' | amTimeAgo  }}</td>
                  <td>{{ draftOrder.customerName || "Không có thông tin khách hàng" }}</td>
                  <td class="text-right">{{ draftOrder.payingAmount | currency:'VND' }}</td>
                </tr>
              </tbody>
            </table>

          <div class="dataTables_length" id="DataTables_Table_0_length">
              Hiển thị:
              <select [(ngModel)]="itemsPerPage" (ngModelChange)="loadAll()" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                <option value="10">10 </option>
                <option value="20">20 </option>
                <option value="50">50 </option>
              </select>
          </div>
          <div class="d-flex justify-content-center">
            <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
          </div>
          <div class="d-flex justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
          </div>

          </div>
        </div>
      </div>
  </div>
</div>
